@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Miriam+Libre&family=Montserrat:wght@300;400&family=Open+Sans&family=Questrial&display=swap');




/* ----------HEADER---------- */
.beauty-section--header {
    height: 100vh;
    max-width: 100vw;
    max-height: 768px;
    background-image: url(../assets/BeautySection/fullBack.png);
    background-size: 1366px 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;

    & .beauty-section--header--logo {
        position: relative;
        left: 50%;
        top: -4%;
        transform: translate(-50%, 0%);
        width: max-content;
    }

    & .beauty-logo {
        height: 300px;
    }

    & .beauty-postfix {
        position: relative;
        left: 45px;
        bottom: 50px;
        width: max-content;
        text-align: center;
    }

    & .beauty-ro {
        font-family: 'Miriam Libre', sans-serif;
        font-size: 22px;
        color: #D6AE45;
    }

    & .beauty-ru {
        font-family: 'Miriam Libre', sans-serif;
        font-size: 16px;
        color: #FDD5D4;
    }

    & .beauty-text {
        position: relative;
        left: 30px;
        top: 150px;
        font-family: 'Libre Baskerville', serif;
        font-size: 70px;
        font-weight: 200;
        letter-spacing: 2.7px;
        color: #D6AE45;
    }
}





/* ----------INTRO---------- */
.beauty-section--intro {
    background-color: #FDD5D4;
    height: 100vh;
    width: 100vw;

    & .beauty-section--intro--inner {
        margin: 0 auto;
        max-width: 1366px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    & .beauty-section--intro--lady img {
        width: max-content;
        height: 100vh;
    }

    & .beauty-section--intro--logo h3 {
        text-transform: uppercase;
        font-family: 'Libre Baskerville', serif;
        font-weight: 200;
        font-size: 40px;
        color: #B98E49;
        letter-spacing: 1.5px;
        text-align: right;
        position: relative;
        top: 80px;
        right: 165px;
    }

    & .beauty-section--intro--logo img {
        width: 526px;
        height: 85px;
        position: relative;
        top: 70px;
        left: 100px;
    }

    & .beauty-section--intro--text {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
    }

    & .beauty-section--intro--text h4 {
        font-weight: 200;
        font-size: 30px;
        color: #9F0B0B;
        margin: 120px 0 30px;
    }

    & .beauty-section--intro--text h2 {
        font-family: 'Libre Baskerville', serif;
        font-weight: 200;
        font-size: 48px;
        color: #000;
        letter-spacing: 1.5px;
        padding-right: 240px;
        text-align: left;
    }
}





/* ----------SERVICES---------- */
.beauty-section--services {
    position: relative;
    background-color: #fff;
    height: 100vh;
    width: 100vw;

    & h2 {
        position: relative;
        color: #000;
        font-family: 'Libre Baskerville', serif;
        font-size: 80px;
        font-weight: 200;
        letter-spacing: 1.5px;
        text-align: center;
        z-index: 3;
        margin-top: 90px;
    }

    & .transition-brush {
        position: absolute;
        right: 0;
        top: -250px;
    }

    & .beauty--cards {
        display: flex;
        justify-content: space-evenly;
        margin: 45px auto 0;
        max-width: 1366px;
    }

    & .beauty--card-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .beauty-services-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px 0;
        width: 343px;
        height: 380px;
        background-color: #FDD5D4;
        border-radius: 25px;
        position: relative;
        transform: translateY(-70%);
        z-index: 3;

        & h5 {
            margin-top: 30px;
            color: #132540;
            font-family: 'Miriam Libre', sans-serif;
            font-size: 24px;
        }

        & h6 {
            color: #132540;
            text-transform: uppercase;
            font-family: 'Questrial', sans-serif;
            font-weight: 100;
            font-size: 16px;
            letter-spacing: 0.5px;
            margin: 15px 0 30px 0;
        }

        & p {
            color: #132540;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            text-align: center;
        }

        & .beauty-plus-btn {
            height: 25px;
            width: 4px;
            background-color: #9F0B0B;
            border-radius: 999999px;
            margin-top: 30px;
        }

        & .beauty-plus-btn::after {
            content: '';
            display: block;
            height: 25px;
            width: 4px;
            background-color: #9F0B0B;
            border-radius: 999999px;
            transform: rotate(90deg);
        }
    }

    & .beauty-circle-placeholder {
        position: relative;
        margin: 0 auto;
        height: 188px;
        width: 188px;
        border-radius: 50%;
        background-color: #fff;
    }

    & .beauty-card-img {
        position: relative;
        width: 155px;
        height: 155px;
        z-index: 4;
        border-radius: 50%;
        transform: translateY(-110%);
    }
}





/* ----------COMMITED---------- */
.beauty-section--commited {
    background-image: url(../assets/BeautySection/massage.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;

    & img {
        height: 167px;
        width: 141px;
        margin-top: 80px;
    }

    & h2 {
        font-family: 'Questrial', sans-serif;
        font-weight: 200;
        font-size: 70px;
        color: #000;
        margin-top: 10px;
    }

    & p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #132540;
        margin-top: 80px;
        padding: 0 360px;
    }
}





/* ----------FOOTER---------- */
.beauty-section--footer {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #D6AE45;
    background-color: #000;

    & h3 {
        font-size: 34px;
        margin-bottom: 25px;
    }

    & p {
        font-size: 18px;
    }

    & #myVideo {
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
    }

    & .beauty-section--footer--content {
        position: absolute;
        bottom: 100px;
        padding: 0 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 180px;
        max-width: 1366px;

        & .working-hours p {
            margin-bottom: 10px;
        }

        & .working-hours b p {
            margin: 0;
        }

        & .contact-info p:nth-child(odd) {
            margin-bottom: 10px;
        }

        & .socials {
            display: flex;
            align-items: center;

            & img {
                height: 35px;
                width: 35px;
                margin-right: 10px;
                transition: scale 0.25s ease-in-out;
            }

            & img:hover {
                scale: 1.15;
            }
        }
    }
}