@import url('https://fonts.googleapis.com/css2?family=Codec+Pro:wght@200;300;400&family=Open+Sans&display=swap');

/* ----------HEADER---------- */
.beauty-section--header {
    
    background-image: url(../assets/BeautySection/fullBack.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    & .beauty-section--header--logo {
        position: relative;
        left: 50%;
        top: -4%;
        transform: translate(-50%, 0%);
        width: max-content;
    }

    & .beauty-logo {
        height: 300px;
    }

    & .beauty-postfix {
        position: relative;
        left: 45px;
        bottom: 50px;
        width: max-content;
        text-align: center;
    }

    & .beauty-ro {
        font-family: 'Monserrat', sans-serif;
        font-size: 22px;
        color: #D6AE45;
    }

    & .beauty-ru {
        font-family: 'Monserrat', sans-serif;
        font-size: 16px;
        color: #B98E49;
    }

    & .beauty-text {
        position: relative;
        left: 30px;
        top: 150px;
        font-family: 'Monserrat', serif;
        font-size: 70px;
        font-weight: 200;
        letter-spacing: 2.7px;
        color: #D6AE45;
    }
}

/* HEADER Стили для мобильных устройств */
@media only screen and (max-width: 767px) {
 
    .beauty-section--header {
        background-size: cover; /* Используйте cover вместо 100vw 100vh */
        height: auto; /* Высоту меняем на auto */
        padding: 20px; /* Добавим отступы для контента внутри */

        & .beauty-section--header--logo {
            left: 50%;
            top: 0;
            transform: translate(-50%, 0%);
        }

        & .beauty-logo {
            height: 100px; /* Высоту лого на мобильных устройствах */
        }

        & .beauty-postfix {
            left: 0;
            bottom: 0;
            text-align: center;
        }

        & .beauty-text {
            left: 0;
            top: 0;
            font-size: 36px; /* Размер шрифта на мобильных устройствах */
            letter-spacing: 1px;
        }
    }
}

/* ----------INTRO---------- */
.beauty-section--intro {
    background-color: #FDD5D4;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;  

    & .beauty-section--intro--inner {
        margin: 0 auto;     
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    & .beauty-section--intro--lady {
        width: 50%;
    }

    & .beauty-section--intro--lady img {
        width: max-content;
        height: 100vh;
        float: left; 
    }

    & .beauty-section--intro--content {
        width: 50%;
    }

    & .beauty-section--intro--logo h3 {
        text-transform: uppercase;
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 40px;
        color: #B98E49;
        letter-spacing: 1.5px;
        text-align: center;
        position: relative;
        top: 80px;
    }

    & .beauty-section--intro--logo img {
        width: 526px;
        height: 85px;
        position: relative;
        top: 70px;
        left: 100px;
    }

    & .beauty-section--intro--text {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
    }

    & .beauty-section--intro--text h4 {
        font-weight: 200;
        font-size: 30px;
        color: #B98E49;
        margin: 120px 0 30px;
    }

    & .beauty-section--intro--text h2 {
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 18px;
        color: #544747;
        letter-spacing: 1.5px;
        padding-right: 20px;
        text-align: left;
        width: 500px;
    }
}

/* ----------INTRO MOBILE---------- */
/* Стили для мобильных устройств */
@media only screen and (max-width: 767px) {

    .beauty-section--intro {
      display: none;
    }
}

/* ----------SERVICES---------- */
.beauty-section--services {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-top: 0;

    & h2 {
        text-transform: uppercase;
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 40px;
        color: #B98E49;
        letter-spacing: 1.5px;
        text-align: center;
        position: relative;
        top: 80px;
        margin-bottom: 100px;
    }

    & .transition-brush {
        position: absolute;
        right: 0;
        top: -250px;
    }

    & .beauty--cards {
        display: flex;
        justify-content: space-evenly;
        margin: 45px auto 0;
        max-width: 1366px;
    }

 
    & .beauty--card-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .beauty-services-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px 0;
        width: 343px;
        height: 380px;
        background-color: #FDD5D4;
        border-radius: 25px;
        position: relative;
        transform: translateY(-70%);
        z-index: 3;

        & h5 {
            margin-top: 30px;
            color: #D6AE45;
            font-family: 'Monserrat', sans-serif;
            font-size: 24px;
        }

        & h6 {
            color: #D6AE45;
            text-transform: uppercase;
            font-family: 'Monserrat', sans-serif;
            font-weight: 100;
            font-size: 16px;
            letter-spacing: 0.5px;
            margin: 15px 0 30px 0;
        }
        & ul {
            color: #544747;
            font-family: 'Monserrat', sans-serif;
            font-size: 18px;
            
        }

        & p {
            color: #132540;
            font-family: 'Monserrat', sans-serif;
            font-size: 12px;
            text-align: center;
        }
        
    }

    & .beauty-circle-placeholder {
          position: relative;
        margin: 0 auto;
        height: 188px;
        width: 188px;
        border-radius: 50%;
        background-color: #fff;
       
    }
    
    & .beauty-card-img {
        position: relative;
        width: 155px;
        height: 155px;
        z-index: 4;
        border-radius: 50%;
        transform: translateY(-110%);
    }

        & .custom-button {
            background-color: #D6AE45;
            color: #fff; /* Цвет текста */
            margin-top: 20px;
            padding: 10px 20px; /* Отступы вокруг текста */
            border: none; /* Убираем границу */
            border-radius: 5px; /* Закругляем углы */
            cursor: pointer; /* Делаем курсор в форме руки при наведении */
        }
       & .custom-button:hover {
            background-color: #daa00f; /* новый цвет при наведении */
        }
    }

/* ----------SERVICES MOBILE---------- */
@media only screen and (max-width: 767px) {
    .beauty-section--services {
        position: relative;
        height: auto;
        width: 100vw;
        margin-top: 0;

        & .beauty-section--services img{
           display: none;
        }

        & h2 {
            text-transform: uppercase;
            font-family: 'Monserrat', serif;
            font-weight: 200;
            font-size: 28px;
            color: #B98E49;
            letter-spacing: 1.5px;
            text-align: center;
            position: relative;
            top: 80px;
            margin-bottom: 250px;
        }

        & .transition-brush {
           display: none;      
        }

        & .beauty--cards {
            display: flex;
            flex-direction: column; /* Изменили на колонку для мобильных устройств */
            align-items: center;
            margin: 150px auto 0;
            max-width: 100%;
        }
        
        & .beauty--card-element {
            display: flex;
            height: 450px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }      
          & .beauty-services-card {
            width: 100%;
            padding: 30px;
            background-color: #FDD5D4;
            border-radius: 25px;
        
            & h5 {
              
                color: #D6AE45;
                font-family: 'Monserrat', sans-serif;
                font-size: 20px;
            }

            & h6 {
                color: #D6AE45;
                text-transform: uppercase;
                font-family: 'Monserrat', sans-serif;
                font-weight: 100;
                font-size: 14px;
                letter-spacing: 0.5px;
                margin: 10px 0 20px 0;
            }

            & ul {
                color: #132540;
                font-family: 'Monserrat', sans-serif;
                font-size: 14px;
            }

            & p {
                color: #132540;
                font-family: 'Monserrat', sans-serif;
                font-size: 12px;
                text-align: center;
                margin-top: 10px;
            }

        
            & .custom-button {
                background-color: #D6AE45;
                color: #fff;
                margin-top: 15px;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
            }

            & .custom-button:hover {
                background-color: #daa00f;
            }
        }
    }
}

/* ----------menu---------- */
/*  стили для бургер-меню в мобильной версии */
.burger-menu {
    display: none;
  }
  
  .burger-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .burger-icon {
    cursor: pointer;
  }
  
  .burger-icon span {
    width: 30px;
    height: 3px;
    background-color: #867f7f;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.4s;
  }
  
  .menu a:hover {
    color: #B98E49;
  }
  
  /* Медиа-запрос для мобильных устройств */
  @media only screen and (max-width: 767px) {
    .burger-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #fff; /* Замените на цвет вашего фона */
      margin-left: auto; /* Выравнивание вправо */
    }
  
    .menu {
      display: none; /* Скрыть меню в начале */
      width: 100%;
    }
  
    .menu.open {
      display: flex;
      flex-direction: column;
      background-color: #fff; /* Замените на цвет вашего фона */
    }
  
    .burger-icon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  
    .burger-icon span {
      background-color: #B98E49;
    }
     /* Добавим свойство font-size для уменьшения размера шрифта */
     .burger-menu a {
        font-size: 12px;
    }
  }
  


/* ----------FOOTER---------- */
.beauty-section--footer {
    position: relative;
     /* Устанавливаем более высокий порядок слоя для блока footer */
}

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Устанавливаем порядок слоя ниже блока footer */
}

.beauty-section--footer--content {
    position: relative;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.working-hours,
.contact-info,
.socials {
    text-align: center;
}

.address-info {
    display: flex;
    flex-direction: column; /* Изменено на column */
    gap: 5px;
}

h3 {
    margin-bottom: 5px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.socials a {
    margin: 5px;
}

.socials img {
    height: 25px;
    width: 25px;
    transition: scale 0.25s ease-in-out;
}

/* Медиа-запрос для десктопных устройств */
@media only screen and (min-width: 768px) {
    .beauty-section--footer--content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .address-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .socials {
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    .socials a {
        margin: 0 10px; /* Расстояние между ссылками */
    }

    & p {
        text-decoration: none;
        color: #f1eaea;
        transition: color 0.3s ease;
    }
    .socials img {
        height: 35px;
        width: 35px;
        transition: scale 0.25s ease-in-out;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 767px) {
    .beauty-section--footer {
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;  
    }

    .beauty-section--footer--content {
        padding: 20px;
        top: 150px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    & p {
        text-decoration: none;
        color: #cdc3b3;
        transition: color 0.3s ease;
    }
    .working-hours,
    .contact-info,
    .socials {
        text-align: center;
    }

    .address-info {
        display: flex;
        flex-direction: column; /* Изменено на column */
        gap: 5px;
    }

    h3 {
        margin-bottom: 5px;
    }

    .socials {
        margin-top: 15px;
    }

    .socials a {
        margin: 5px;
    }

    .socials img {
        height: 25px;
        width: 25px;
        transition: scale 0.25s ease-in-out;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
