@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Miriam+Libre&family=Montserrat:wght@300;400&family=Open+Sans&family=Questrial&display=swap');

/* ----------HEADER---------- */
.farm-section--header {

    background-image: url(../assets/FarmSection/farm-main-bg.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;  
      
    & .farm-section--header--logo {
        position: relative;
        left: 50%;
        top: -4%;
        transform: translate(-50%, 0%);
        width: max-content;
    }

    & .farm-logo {
        height: 300px;
    }

    & .farm-postfix {
        position: relative;
        left: 45px;
        bottom: 50px;
        width: max-content;
        text-align: center;
    }

    & .farm-ro {
        font-family: 'Monserrat', sans-serif;
        font-size: 22px;
        color: #D6AE45;
    }

    & .farm-ru {
        font-family: 'Monserrat', sans-serif;
        font-size: 16px;
        color: #D6AE45;
    }

    & .farm-text {
        position: relative;
        left: 30px;
        top: 150px;
        font-family: 'Monserrat', serif;
        font-size: 70px;
        font-weight: 200;
        letter-spacing: 2.7px;
        color: #D6AE45;
    }
}
@media only screen and (max-width: 767px) {
    
    .farm-section--header {
        background-size: cover; /* Используйте cover вместо 100vw 100vh */
        height: auto; /* Высоту меняем на auto */
        padding: 20px; /* Добавим отступы для контента внутри */
    

        & .farm-section--header--logo {
            left: 50%;
            top: 0;
            transform: translate(-50%, 0%);
        }

        & .farm-logo {
            height: 100px;
        }

        & .farm-postfix {
            left: 0;
            bottom: 0;
            text-align: center;
        }

        & .farm-text {
            left: 0;
            top: 0;
            font-size: 36px; /* Размер шрифта на мобильных устройствах */
            letter-spacing: 1px;
        }
    }
}    


/* ----------INTRO---------- */
.farm-section--intro {
    background-color: #fff;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;  

    & .farm-section--intro--inner {
        margin: 0 auto;     
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & .farm-section--intro--lady {
        width: 50%;
    }

    & .farm-section--intro--lady img {
        width: max-content;
        height: 100vh;
        float: right; 
    }

    & .farm-section--intro--content {
        width: 50%;
    }

    & .farm-section--intro--logo h3 {
        text-transform: uppercase;
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 40px;
        color: #B98E49;
        letter-spacing: 1.5px;
        text-align: center;
        position: relative;
        top: 80px;
        right: 140px;
    }

    & .farm-section--intro--logo img {
        width: 526px;
        height: 85px;
        position: relative;
        top: 70px;
        left: 100px;
    }

    & .farm-section--intro--text {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
    }

    & .farm-section--intro--text h4 {
        font-weight: 200;
        font-size: 30px;
        color: #B98E49;
        margin: 120px 0 30px;
    }

    & .farm-section--intro--text h2 {
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 18px;
        color: #544747;
        letter-spacing: 1.5px;
        padding-right: 20px;
        text-align: left;
    }
}

/* ----------INTRO MOBILE---------- */
/* Стили для мобильных устройств */
@media only screen and (max-width: 767px) {

    .farm-section--intro {
      display: none;
    }
}

/* ----------services---------- */
.farm-section--services {
    position: relative;
    background-color: #00C4E1;
    height: 100vh;
    width: 100vw;

    & h2 {
        text-transform: uppercase;
        font-family: 'Monserrat', serif;
        font-weight: 200;
        font-size: 40px;
        color: #fff;
        letter-spacing: 1.5px;
        text-align: center;
        position: relative;
        top: 80px;
        margin-bottom: 100px;
    }

    & .farm--cards {
        display: flex;
        justify-content: space-evenly;
        margin: 45px auto 0;
        max-width: 1366px;
    }

    & .farm--card-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .farm-services-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px 0;
        width: 343px;
        height: 330px;
        background-color: #fff;
        border-radius: 25px;
        position: relative;
        transform: translateY(-70%);
        z-index: 3;

        & h5 {
            margin-top: 30px;
            color: #B98E49;
            font-family: 'Monserrat', sans-serif;
            font-size: 24px;
        }

        & h6 {
            color: #132540;
            text-transform: uppercase;
            font-family: 'Monserrat', sans-serif;
            font-weight: 100;
            font-size: 16px;
            letter-spacing: 0.5px;
            margin: 15px 0 30px 0;
        }

        & p {
            color: #544747;
            font-family: 'Monserrat', sans-serif;
            font-size: 16px;
            text-align: left;
        }
    }

    & .farm-circle-placeholder {
        position: relative;
        margin: 0 auto;
        height: 188px;
        width: 188px;
        border-radius: 50%;
        background-color: #fff;
    }

    & .farm-card-img {
        position: relative;
        width: 155px;
        height: 155px;
        z-index: 4;
        border-radius: 50%;
        transform: translateY(-110%);
    }  
}

@media only screen and (max-width: 767px) {
    .farm-section--services {
        position: relative;
        height: auto;
        width: 100vw;
        margin-top: 0;    
    }

    & .farm--cards {
        display: flex;
        flex-direction: column; /* Изменили на колонку для мобильных устройств */
        align-items: center;
        margin: 150px auto 0;
        max-width: 100%;
        margin: 200px auto 0; 
    }
}

/* ----------FOOTER---------- */
.farm-section--footer {
    width: 100vw;
    height: max-content;
    position: relative;
    font-family: 'Monserrat', sans-serif;
    color: #D6AE45;
    background-color: #000;

    & h3 {
        font-size: 34px;
        margin-bottom: 25px;
    }
    & p {
        font-size: 18px;
    }

    & .farm-bgVideo {
        background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
   
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        right: 0;  
    }

    & .farm-section--footer--content {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        padding: 100px 100px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 180px;
        width: 100%;
        max-width: 1366px;

        & .working-hours p {
            margin-bottom: 10px;
        }

        & .working-hours b p {
            margin: 0;
        }

        & .contact-info p:nth-child(odd) {
            margin-bottom: 10px;
        }

        & .socials {
            display: flex;
            align-items: center;

            & img {
                height: 35px;
                width: 35px;
                margin-right: 10px;
                transition: scale 0.25s ease-in-out;
            }

            & img:hover {
                scale: 1.15;
            }
        }
    }
}