/* Header.css */
/* Общие стили */


.header:hover {
  background-color: #B98E49;
}

/* Дополнительные стили для мобильных устройств */
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column; 
    align-items: center;
    text-align: center; /* Выравнивание текста по центру */
  }

  .menu {
    margin-top: 10px;
    display: none; /* Скрыть .menu на мобильных устройствах */
    .menu--text p {
      max-width: none; /* Сбрасываем максимальную ширину */
      margin-left: 0; /* Сбрасываем отступ слева */
    }
  }

  }

  /* Сброс стилей для .header при уменьшении экрана */
  .header {
    padding: 10px; /* Уменьшаем внутренние отступы */
    box-shadow: none; /* Убираем тень */
  }

/* мои стили Дополнение к Header.css */

.home--epigraph {
  position: relative;
  max-width: 450px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* Дополнение к Header.css */

  & h2, .epigraph--colored-p {
      color: #6B480D; /* Изменен цвет текста для согласования с цветом меню при hover */
  }

  & h2 {
      font-size: 32px;
      font-family: 'Modern Antiqua';
      width: 114px;
      height: 39px;
      margin-bottom: 10px;
  }

  & hr {
      height: 2px;
      background-image: linear-gradient(90deg, #6B480D, #F4C963);
      border: none;
      margin-bottom: 5px;
      width: 298px;
  }

  & p {
      font-size: 14px;
      font-family: 'Modern Antiqua', sans-serif;
      color: #6B480D; /* Изменен цвет текста для согласования с цветом меню при hover */
  }

  .epigraph--first-p {
      letter-spacing: 1.5px;
  }
}

.header {
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #fff; /* Замени на нужный цвет */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при hover */
  }
  
  .header:hover {
    background-color: #B98E49; /* Цвет фона при наведении на весь хедер */
  }
  
  /* Общие стили для ссылок в меню */
  & p  {
    
    text-decoration: none;
    color: #6B480D; /* Цвет текста */
    transition: color 0.3s ease; /* Плавное изменение цвета текста при hover */
  }
 

  .logo img {
    max-width: 100px; /* Задай нужную ширину логотипа */
  }
  
  /* Стили для подцветки при hover */
  .menu li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Цвет подчеркивания */
    bottom: -5px; /* Регулировка расстояния подчеркивания от текста */
    left: 0;
    transform: scaleX(0); /* Начальное состояние - невидимость */
    transition: transform 0.3s ease; /* Плавное изменение ширины при hover */
  }
  
    
  /* Стили для телефона и эпиграфа при hover */
.phone p,
.epigraph p {
  color: #6B480D; /* Цвет текста при наведении */
  padding-left: 40px; /* Отступ слева для текста */
  background: url('../assets/phone.png') left center no-repeat; /* Путь к изображению и его позиция */
  background-size: 20px; /* Размер изображения */
}
