/* Importing Google Fonts for the project */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Tenor+Sans&display=swap');

/* Home */
:root {
    --link-container-size: 200px;
}

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
  




.home--category--parent {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;

}

.home--category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(var(--link-container-size) + 100px);
}

.home--category p {
    font-family: 'Montserrat';
    text-align: center;
    color: #b98e49;
    font-size: 16px;
    max-width: calc(var(--link-container-size) + 100px);
}

/* Class for the first image */
.dent--img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.4s;
    height: var(--link-container-size);
    width: var(--link-container-size);
    margin-bottom: 12px;
    background-image: url(../assets/dent.jpg);
}

/* Class for the second image */
.farm--img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.4s;
    height: var(--link-container-size);
    width: var(--link-container-size);
    margin-bottom: 12px;
    background-image: url(../assets/farm.jpg);
}

/* Class for the third image */
.beauty--img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.4s;
    height: var(--link-container-size);
    width: var(--link-container-size);
    margin-bottom: 12px;
    background-image: url(../assets/beauty.jpg);
}

.home--link {
    color: #b98e49;

    & div {
        max-width: var(--link-container-size);
    }
    
    & h3 {
        font-style: italic;
        text-align: center;
        font-size: 22px;
        line-height: 90%;
        padding: 10px 15px;
        margin-bottom: 12px;
        background-color: transparent;
        transition: background-color 0.6s ease-in-out;
        transition-delay: 0.1s;
    }
}

.home--link:hover {
    & .dent--img {
        background-image: url(../assets/dent_hover.png);
    }
    & .farm--img {
        background-image: url(../assets/farm_hover.png);
    }
    & .beauty--img {
        background-image: url(../assets/beauty_hover.png);
    }
}


.background-image {
    position: absolute;
    width: 380px;
    height: 634px;
    background-size: cover;
    z-index: -1; /* This places the background behind other content */
}

.background-image.left {
    bottom: 0;
    left: 0;
    background-image: url('../assets/left_background_flover.png'); /* Replace with the actual path to your image */
}

.background-image.right {
    top: 0; /* Adjust as needed to position the image slightly above the center */
    right: 0;
    background-image: url('../assets/right_background_flover.png'); /* Replace with the actual path to your image */
}
/* /Home */
