@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat+Alternates:wght@200&display=swap');


/* -----------------------------------TAGS--------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Libre Baskerville';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: gray;
}

a {
  text-decoration: none;
}

/* ----------------------------------/TAGS--------------------------------- */


/* ---------------------------------CLASSES-------------------------------- */
/* .stomatologie, .beauty, .farmacie {
  height: calc(100vh - 90px);
} */
/* --------------------------------/CLASSES-------------------------------- */


/* --------------------------------SECTIONS-------------------------------- */

/* Navigation */
.nav--container {
  font-family: 'Libre Baskerville';
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 200px;
  height: 50px;
  padding: 20px 0 0 80px;
}


.nav--container a {
  color: gray;
  padding: 5px 22px 5px;
  margin-right: 10px;
  text-transform: uppercase;
  transition: all .4s;
  transition-delay: .03s;
}


.nav--container a:hover {
  background-color: #b98e49;
  color: #fff;
}


/* /Navigation */





/* Stomatologie */

/* /Stomatologie */


/* Farmacie */

/* /Farmacie */


/* Footer */
footer {
  height: 40px;
  color: #b98e49;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /Footer */


/* -------------------------------/SECTIONS-------------------------------- */
